aclocal.m4
autom4te.cache
cards/Makefile
cards/Makefile.in
config.log
config.status
configure
glines/Makefile
glines/Makefile.in
gnobots2/Makefile
gnobots2/Makefile.in
gnometris/backgrounds/Makefile
gnometris/backgrounds/Makefile.in
gnometris/Makefile
gnometris/Makefile.in
iagno/Makefile
iagno/Makefile.in
INSTALL
install-sh
mahjongg/Makefile
mahjongg/Makefile.in
Makefile
Makefile.in
missing
mkinstalldirs
same-gnome/2.10/Makefile
same-gnome/2.10/Makefile.in
same-gnome/Makefile
same-gnome/Makefile.in
